<h1>The Houses</h1>
<% @houses.each do |house| %>
  <div class="house">

    <h2><%= link_to house.name, house_path(house, :id => house.id) %></h2>
    <img src="<%= house.image_url %>"/>

  </div>
    <% end %>
